/* ==========================================================================
   Document

   Document styling normalization.
   ========================================================================== */

$base-font-size: 16 !default;
$base-line-height: 1.15 !default;
$base-font-family: Times, serif !default;

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  font-family: percentage($base-font-family / 16);
  font-size: $base-font-size;
  line-height: $base-line-height; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
